### https://raw.github.com/github/gitignore/6c87d249af5f2b3f8ab65ae0a2648682ee4e8a2d/Node.gitignore

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# Gatsby files
.cache/

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

.github/prompts/*
shared/repos/*
!.gitkeep
!**/templates/**/.env

.tmp
dist/
kubectl-sgmap
