name: Enable Auto-merge
permissions:
  contents: read
  pull-requests: write

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest
    if: |
      github.event.pull_request.user.login == 'renovate[bot]' &&
      contains(github.event.pull_request.body, ' **Automerge**: Enabled.')
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}
          fetch-depth: 0

      - name: Approve Pull Request
        run: |
          gh pr review "$PR_NUMBER" --approve --body "Auto-approved Renovate PR"
        env:
          GITHUB_TOKEN: ${{ secrets.CODEOWNER_PAT }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          GH_HOST: github.com

      - name: Enable auto-merge
        run: |
          gh pr merge "$PR_NUMBER" --auto --squash
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          GH_HOST: github.com
