name: Pull Request

on:
  pull_request:
    branches: ["main"]
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
        env:
          TAR_OPTIONS: "--skip-old-files"

      - name: Ensure Dependencies
        run: go mod tidy

      - name: Build and Test
        run: make build

  status-check:
    runs-on: ubuntu-latest
    needs:
      - test
    if: always()
    steps:
      - name: Check status
        run: |
          if [[ "${{ needs.test.result }}" == "failure" ]]; then
            echo "Test job failed"
            exit 1
          elif [[ "${{ needs.test.result }}" == "cancelled" ]]; then
            echo "Test job was cancelled"
            exit 1
          else
            echo "All jobs succeeded or were skipped"
          fi
